body {
  margin: 0;
  background-color: #575268;
}

html {
  font-family: sans-serif;
}

/* Sidebar */
#sidebar {
  position: fixed;
  width: 550px;
  height: 100%;
  left: -420px;
  top: 0px;
  border-right: solid 3px black;
  transition: left .3s;
  z-index: 2;
  background-color: #40303f;
  color: white;
  padding-bottom: 8px;
  overflow-y: auto;
}

#sidebar:hover {
  left: 0;
}

.file-group {
  display: block;
  background-color: #8f4e8b;
  margin-bottom: 8px;
  padding: 3px;
}

.file-group .file-name {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 3px;
  text-align: right;
  word-wrap: break-word;
}

.errors-for-file {
  margin: 2px;
}

.error {
  background-color: #5e5086;
  padding: 3px;
  margin-top: 4px;
  border: solid 1px transparent;
  border-radius: 4px;
  transition: border-color .3s;
  cursor: pointer;
}

.error:hover {
  border-color: lightblue;
}

.error.selected {
  border-color: yellow;
}

.error .error-preview-header {
  text-align: right;
  margin-bottom: 3px;
}

.error .location {
  display: inline-block;
  font-size: .8em;
}

.error .severity {
  display: inline-block;
  font-size: .6em;
  border: 1px solid;
  border-radius: 4px;
  padding: 2px;
  vertical-align: middle;
  margin-right: 10px;
}

.error-heading .severity {
  border: 2px solid;
  border-radius: 7px;
  padding: 4px 6px 2px 6px;
  vertical-align: middle;
}

.severity-error {
  color: #ff0048;
  border-color: #ff0048;
}

.severity-warning {
  color: #ea4fd2;
  border-color: #ea4fd2;
}

.error .error-preview-container {
  background-color: #3e3e3e;
}

.error-preview-container .error-preview {
  color: white;
  font-family: monospace;
  white-space: pre;
  padding: 3px;
  overflow-x: auto;
}

.error-preview.truncated {
  mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
}

/* Viewport */
#viewport {
  width: calc(100% - 133px);
  margin-left: 133px;
  height: 100%;
  position: relative;
  color: white;
}

.error-heading {
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.error-heading .location {
  font-weight: initial;
  color: #acacac;
}

#viewport .server-error {
  padding: 40px;
  font-size: 1.5em;
}

.nav-arrows {
  display: inline-block;
  transform: scale(1.4) rotate(90deg);
  color: #acacac;
}

.nav-arrows > * {
  display: inline-block;
  cursor: pointer;
  transition: color .3s;
}

.nav-arrows :hover {
  color: white;
}

.mod-name {
  word-break: break-all;
}

.error-body {
  white-space: pre;
  background-color: #3e3e3e;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  font-size: 1.2em;
}

.error-caret {
  white-space: pre;
  background-color: #3e3e3e;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  font-size: 1.2em;
}

.counts-wrapper {
  text-align: right;
}

.counts {
  background-color: #575268;
  display: inline-block;
  padding: 4px 8px;
  margin-right: 25px;
  font-size: .8em;
}

@media screen and (min-width: 1200px) {
  #sidebar {
    left: 0px;
  }

  #viewport {
    margin-left: 553px;
    width: calc(100% - 553px);
  }
}

/* Syntax highlighting */
.syn-uc-identifier {
  color: #7de686;
}

.syn-lc-identifier {
  color: #bcffda;
}

.syn-operator {
  color: #ff7b72;
}

.syn-char-lit {
  color: #a5d6ff;
}

.syn-string-lit {
  color: #a5d6ff;
}

.syn-number {
  color: #79c0ff;
}

.syn-comment {
  color: #8a939d;
}

.syn-reserved-name {
  color: #ff7b72;
}

.caret-error {
  color: #ff0048;
}

.caret-warning {
  color: #ea4fd2;
}

.caret-gutter {
  color: #acacac;
}


